<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <div class="hero">
      <div class="card">
        <%- include ("../partials/messages"); %> <% if (user) { %>
        <h1><%= user.name %></h1>
        <p><%= user.email %></p>
        <img src="img/profile.png" id="profile-pic" />
        <label for="input-file">Update Image</label>
        <input
          type="file"
          accept="image/jpeg, image/png, image/jpg"
          id="input-file"
        />
        <form action="/logout" method="post">
          <button type="submit" class="btn btn-secondary logout-button">
            Logout
          </button>
        </form>
        <!-- Button to edit account -->
        <a href="/account/<%= user.email %>"
          ><button class="btn btn-primary edit-button">Edit Account</button></a
        >
        <!-- Button to delete account -->
        <form method="POST" action="/account?_method=DELETE">
          <input type="hidden" name="email" value="<%= user.email %>" />
          <button
            type="submit"
            class="btn btn-danger delete-button"
            onclick="return confirm('Are you sure you want to delete your account?')"
          >
            Delete Account
          </button>
        </form>
        <% } else { %>
        <div>
          <div class="alert alert-warning mb-3" role="alert">
            You are not logged in. Please login or register to access your
            profile.
          </div>
          <img class="mt-3" src="img/profile.png" id="profile-pic" />
          <label for="input-file">Update Image</label>
          <input
            type="file"
            accept="image/jpeg, image/png, image/jpg"
            id="input-file"
          />
          <a href="/login"><button class="btn btn-link">Login</button></a>
          <a href="/register"><button class="btn btn-link">Register</button></a>
        </div>
        <% } %>
      </div>
    </div>

    <script>
      let profilePic = document.getElementById("profile-pic");
      let inputFile = document.getElementById("input-file");
      inputFile.onchange = function () {
        profilePic.src = URL.createObjectURL(inputFile.files[0]);
      };
      console.log(URL.createObjectURL(inputFile.files[0]));
    </script>
  </body>
</html>
